<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <!-- Primary Meta Tags -->
    <title>JeParticipe</title>
    <meta name="title" content="JeParticipe">
    <meta name="description" content="Demandez l'opinion des gens facilement !">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="javascript:window.location.href">
    <meta property="og:title" content="JeParticipe">
    <meta property="og:description" content="Demandez l'opinion des gens facilement !">
    <meta property="og:image" content="https://jeparticipe.tk:8000/logo/facebook_cover_photo_2.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="javascript:window.location.href">
    <meta property="twitter:title" content="JeParticipe">
    <meta property="twitter:description" content="Demandez l'opinion des gens facilement !">
    <meta property="twitter:image" content="https://jeparticipe.tk:8000/logo/facebook_cover_photo_2.png">

</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      
            <a class="navbar-brand mb-2" href="/home">JeParticipe</a>

            <button class="btn btn-success btn-primary me-2 mb-2" onclick="window.location.href='/login'">S'inscrire/Se connecter</button>
          
        </div>
        </div>
      </nav>
    
    
        <div id="conteneur_chronologique" class="mt-4 container", style="border: 1px;">
            
            <div id="img_row" class="row mx-3 justify-content-center text-break">
                <img class="img-figureimg-fluid rounded"  src="https://jeparticipe.tk:8000/logo/logo_transparent.png" style="width:60%;height:auto;">
            </div>
            <div id="text_row" class="row mx-3 text-break">
                <h1>Qu'est-ce que JeParticipe ?</h1>

                <h5 class="mt-2"><p>
                    JeParticipe est une solution en ligne multiplateformes pour créer des sondages et tirages au sort.
                    </p>
                    <p>
                        Vous pourrez les partager super simplement avec des liens et même autoriser la participation anonyme en pour faciliter la réponse !
                    </p>
                    <p>
                        Vous visez un public restreint ? Pas de problème ! Notre système de comptes privés vous laisse la main sur les personnes ayant accès à vos publications ;)
                    </p>
                    <p>
                        Les résultats se mettent en forme tout seul en plein de jolis graphiques tout mignons que vous pouvez choisir et télécharger !
                    </p>
                    <p>
                        Vous êtes plutôt du genre fan de données ? Toutes les données de vos publications sont téléchargeables au format csv en un seul click !
                    </p>
                    <p>
                        Votre profil et sa description sont entièrement personnalisables ! Laissez libre cours à votre imagination ou faite la description la plus claire jamais vue grâce à notre support du langage markdown ! 
                    </p>
                </h5>

                <p>Notre code est open source :D <a href="https://www.github.com/thaaoblues/jeparticipeHTML">Vous pouvez le feuilleter ici.</a></p>                
                <p>
                    <a class="btn btn-primary" href="https://www.privacypolicygenerator.info/live.php?token=9KilT4r40sbk74huL74KnJz6nlTcQnRJ">Charte de confidentialité</a>
                    <a class="btn btn-primary ms-2" href="https://www.termsandconditionsgenerator.com/live.php?token=FOu4iDvKLqNvtC4EOwb5w5rITtyPcdAf">Termes et conditions</a>
                </p>

            </div>


            <div class="text-center">
                <button class="btn btn-success btn-lg my-4" onclick="window.location.href='https://play.google.com/store/apps/details?id=com.thaaoblues.jeparticipe'"><i class="bi bi-robot me-2"></i>Téléchargez l'application android !</button>

            </div>

            
        
        
        
        </div>










</body>

<script>

    document.onload = function(){document.getElementById("text_row").scrollIntoView({"behavior":"smooth"});};

</script>


<style>
  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-outline-primary {
    background-color: blueviolet !important;
    border-color: blueviolet;
}
</style>

</html>