<!DOCTYPE html>
<html lang="fr">


{% extends "blueprint.html"%}

<body>
    
    {%block navbar%}
    {%endblock%}
    
    {%block chronologie%}
        <div id="conteneur_chronologique" class="mt-4 container", style="border: 1px;">
            
            <div id="img_row" class="row mx-3 justify-content-center text-break">
                <img class="img-figureimg-fluid rounded"  src="https://jeparticipe.tk:8000/logo/logo_transparent.png" style="width:60%;height:auto;">
            </div>
            <div id="text_row" class="row mx-3 text-break">
                <h1>Qu'est-ce que JeParticipe ?</h1>

                <h5 class="mt-2"><p>
                    JeParticipe est une solution en ligne multiplateformes pour créer des sondages, demandes de suggestions et tirages au sort.
                    </p>
                    <p>
                        Vous pourrez les partager super simplement avec des liens et même autoriser la participation anonyme en pour faciliter la réponse !
                    </p>
                    <p>
                        Vous visez un public restreint ? Pas de problème ! Notre système de comptes privés vous laisse la main sur les personnes ayant accès à vos publications ;)
                    </p>
                    <p>
                        Les résultats se mettent en forme tout seul en plein de jolis graphiques tout mignons que vous pouvez choisir et télécharger !
                    </p>
                    <p>
                        Vous êtes plutôt du genre fan de données ? Toutes les données de vos publications sont téléchargeables au format csv en un seul click !
                    </p>
                    <p>
                        Votre profil et sa description sont entièrement personnalisables ! Laissez libre cours à votre imagination ou faite la description la plus claire jamais vue grâce à notre support du langage markdown ! 
                    </p>
                </h5>

                <p>Notre code est open source :D <a href="https://www.github.com/thaaoblues/jeparticipeHTML">Vous pouvez le feuilleter ici.</a></p>                
                <p>
                    <a class="btn btn-primary" href="/confidentialite">Charte de confidentialité</a>
                    <a class="btn btn-primary ms-2" href="/conditions">Termes et conditions</a>
                </p>

            </div>


            <div class="text-center">
                <button class="btn btn-success btn-lg my-4" onclick="window.location.href='https://play.google.com/store/apps/details?id=com.thaaoblues.jeparticipe'"><i class="bi bi-robot me-2"></i>Téléchargez l'application android !</button>

            </div>

            
        
        
        
        </div>



        <script>

            document.onload = function(){document.getElementById("text_row").scrollIntoView({"behavior":"smooth"});};
        
        </script>
        


    {%endblock%}



</body>



</html>