<!DOCTYPE html>
<html lang="fr">

{%extends "blueprint.html"%}

<body>

  {%block navbar_nologin%}

  {%endblock%}

  {%block chronologie%}
    <div id="conteneur_chronologique" class="d-flex justify-content-center mt-4 container", style="border: 1px;">
        


      <form class="mx-3" method="POST" style="width: auto;  min-width: 350px;">

        <div class="row mt-3">
          <textarea name="post_header" id="post_header" type="text" class="form-control textarea-autosize" placeholder="Description/Titre de votre publicartion" required></textarea>
          <label for="post_header">La description sera tronquée au delà de 1500 charactères.</label>
        </div>

        <div class="row justify-content-md-center mt-3">
                

          <select id="type_select" name="type de publication" class="form-control-primary form-control-sm" onchange="publication_type_changed(this);" required>
              <option>Sondage</option>
              <option>Tirage au sort</option>
          </select>
      
      </div>


        <div class="row mt-3">
          <input class="form-control" name="choix" type="text" id="choix" placeholder="choix1/choix2/choix3...." required/>
          <label for="choix" class="form-label">Si plus de 10 choix sont spécifiés, seuls les 10 premiers seront pris.</label>
        </div>
        
        <div class="form-group form-check mt-3">
          <input name="anon_votes" type="checkbox" class="form-check-input" id="anon_votes_input">
          <label class="form-check-label" for="anon_votes_input" id="label_anon_votes_input">Autoriser les votes anonymes (via le lien de partage)</label>
        </div>

        <input name="publication_type" value="sondage" id="publication_type"  hidden required>
        
        <div class="row mt-2">
          <button type="submit" class="btn btn-primary">Publier</button>
        </div>

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

      </form>

    </div>

  {%endblock%}

</body>



{%block scripts%}
    {{super()}}
    <script>
      function publication_type_changed(type_select){
        var value = type_select.options[type_select.selectedIndex].value;
    
        switch(value){
    
          case "Sondage":
            document.getElementById("choix").setAttribute("placeholder","choix1/choix2/choix3....");
            document.getElementById("publication_type").setAttribute("value","sondage");
            break;
    
          case "Tirage au sort":
            document.getElementById("choix").setAttribute("placeholder","Texte du bouton participer au tirage au sort");
            document.getElementById("publication_type").setAttribute("value","tirage");
    
            break;
    
          default:
            break;
    
        }
      }
    
      const tx = document.getElementsByTagName("textarea");
      for (let i = 0; i < tx.length; i++) {
        tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
        tx[i].addEventListener("input", OnInput, false);
      }
    
      function OnInput() {
        this.style.height = "auto";
        this.style.height = (this.scrollHeight) + "px";
      }
    </script>
{%endblock%}



</html>