<!DOCTYPE html>
<html lang="fr">

{%extends "blueprint.html"%}


<body>

  {%block navbar_nologin%}
  {%endblock%}

  {%block chronologie%}
  <div id="conteneur_chronologique" class="d-flex justify-content-center mt-4", style="border: 1px;">

      {%if profils == []%}
        <h3>Aucun utilisateur ne vous suit encore. Allez faire de la pub !</h3>
      {%endif%}

  <div class="card-columns">
    {%for profil in profils%}

    <div name="carte_profil" class="card text-center mt-2 mx-3" style="min-width: 350px;">
        
      <form onSubmit="submit_form({user_id:{{profil['user_id']}} },'action/{%if not profil['user_id'] in following%}follow{%else%}unfollow{%endif%}');return false">

        <div class="card-title mxy-auto mb-2" style="cursor:pointer;" onclick="window.location.href='/profil?user_id={{profil["user_id"]}}'">{{profil["username"]}}
            {%if profil["is_verified"]%}
                <i class="bi bi-person-check ml-2" style = "color:blue;"></i>
            {%endif%}
            {%if profil["type"] == "entreprise"%}
                <i class="bi bi-building ml-2" style = "color:blue;"></i>
            {%elif profil["type"] == "institution publique"%}
                <i class="bi bi-flag-fill ml-2" style = "color:blue;"></i>
            {%endif%}
              ( suivi par {{profil["followers"]}} personne(s) )
        </div>
        {%if not profil["user_id"] in following%}
            <button class="btn-sm btn-success mt-2" type="submit">S'abonner en retour</button>
        {%else%}
            <button class="btn-sm btn-danger mt-2" type="submit">Se désabonner</button>
        {%endif%}
      </form>    
    
      <div class="btn-group justify-content-center">
        <form onSubmit="submit_form({user_id:{{profil['user_id']}} },'action/kick_follower');return false">
          <button class="btn-lg btn-danger mt-2" type="submit">Retirer</button>
        </form>
      </div>
    </div>
      {%endfor%}
    </div>

  </div>

  {%endblock%}
    
</body>


<script>

    function partage_sondage(owner_id,post_id){

      navigator.clipboard.writeText(window.location.hostname+"/partage?owner_id="+owner_id+"&post_id="+post_id+"&results=False");

      alert("L'url de partage du sondage a été copiée dans votre presse papier ;)");
    }

    
    function submit_form(dict,url){

      var csrf_token = "{{ csrf_token() }}";

      var xhr = new XMLHttpRequest();
      xhr.open("POST", url, true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.setRequestHeader("X-CSRFToken", csrf_token);
      xhr.send(JSON.stringify(dict));
      
      setTimeout(function() {document.location.reload(true);},100);
    }

</script>

<style>

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-outline-primary {
    background-color: blueviolet !important;
    border-color: blueviolet;
}

.btn-blue, .btn-blue:hover, .btn-blue:active, .btn-blue:visited, .btn-outline-blue {
  background-color: rgb(43, 107, 226) !important;
  border-color: rgb(43, 107, 226);
  color: white;
}

</style>


</html>