<!DOCTYPE html>
<html lang="fr">

{%extends "blueprint.html"%}

<body>

  {%block navbar_nologin%}
  {%endblock%}

  {%bloc chronologie%}

  <div id="conteneur_chronologique" class="d-flex justify-content-center mt-4", style="border: 1px;">

    {%if error%}
      <h3>Aucun utilisateur correspondant à la recherche n'a été trouvé</h3>
    {%endif%}
  <div class="card-columns">
      {%for profil in profils%}

        <div name="carte_profil" class="card text-center mt-2 mx-3" style="min-width: 350px;" >
            
          <form onSubmit="submit_form({user_id:{{profil['user_id']}} },'action/{%if not profil['user_id'] in following%}follow{%else%}unfollow{%endif%}');return false">

            <div class="card-title mxy-auto mb-2 " onclick="window.location.href='/profil?user_id={{profil["user_id"]}}'">{{profil["username"]}}
                {%if profil["is_verified"]%}
                    <i class="bi bi-person-check ml-2" style = "color:blue;"></i>
                {%endif%}
                {%if profil["type"] == "entreprise"%}
                    <i class="bi bi-building ml-2" style = "color:blue;"></i>
                {%elif profil["type"] == "institution publique"%}
                    <i class="bi bi-flag-fill ml-2" style = "color:blue;"></i>
                {%endif%}
                  ( suivi par {{profil["followers"]}} personne(s) )
            </div>
            {%if not profil["user_id"] in following%}
                <button class="btn-sm btn-success mt-2" type="submit">S'abonner en retour</button>
            {%else%}
                <button class="btn-sm btn-danger mt-2" type="submit">Se désabonner</button>
            {%endif%}

            <input hidden value="" name="redirect_url"/>
          </form>      
        
          <div class="btn-group justify-content-center">

            <form onSubmit="submit_form({link_id:{{profil['link_id']}} },'action/accept_follow_request');return false">

              <button class="btn-lg btn-success mt-2" type="submit">Accepter</button>
  
            </form>
            <form onSubmit="submit_form({link_id:{{profil['link_id']}} },'action/deny_follow_request');return false">
  
              <button class="btn-lg btn-danger mt-2 ms-2" type="submit">Refuser</button>
            </form>
          </div>

        
        </div>

        
      {%endfor%}
  </div>

  {%endblock%}
    
</body>



</html>