<!DOCTYPE html>
<html lang="fr">

  {%extends "blueprint.html"%}


<body>

  {%block navbar_nologin%}
  {%endblock%}

  
  {%block chronologie%}
  <div id="conteneur_chronologique" class="d-flex justify-content-center mt-4", style="border: 1px;">

        {%if profils == []%}
            <h3>Vous ne suivez aucun utilisateur encore ! Allez en chercher dans la barre en haut à droite !</h3>
        {%endif%}
    
    <div class="card-columns">
    {%for profil in profils%}

    <div name="carte_profil" class="card text-center mt-4 mx-3" style="min-width: 350px;">
        
        <div class="card-header">
            <div class="card-title my-0" style="cursor:pointer;" onclick="window.location.href='/profil?user_id={{profil["user_id"]}}'">
                
                <h4 class="mx-2" onclick="window.location.href='/profil?user_id={{profil["user_id"]}}'">{{profil["username"]}}
                    {%if profil["is_verified"]%}
                    <i class="bi bi-person-check ml-2" style = "color:blue;"></i>
                    {%endif%}
                    {%if profil["type"] == "entreprise"%}
                        <i class="bi bi-building ml-2" style = "color:blue;"></i>
                    {%elif profil["type"] == "institution publique"%}
                        <i class="bi bi-flag-fill ml-2" style = "color:blue;"></i>
                    {%endif%}
                    
                    {%if profil["is_request"]%}
                    <div class="float-end">
                        <form onSubmit="submit_form({user_id:{{profil['user_id']}} },'action/unfollow');return false">
                            <button class="btn btn-warning" type="submit">Annuler la demander d'abonnement</button>
                        </form>
                    </div>
                    {%else%}
                    <div class="float-end">
                        <form onSubmit="submit_form({user_id:{{profil['user_id']}} },'action/unfollow');return false">
                            <button class="btn btn-danger" type="submit">Se désabonner</button>
                        </form>
                    </div>
                    {%endif%}
                </h4>

            </div>
        </div>
    

    </div>
      {%endfor%}
    </div>

  </div>

  {%endblock%}
    
</body>


</html>