<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JeParticipe</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/">JeParticipe</a>
          </div>
        </div>
      </nav>


    <div id="conteneur_chronologique" class="mt-4 container", style="border: 1px;">

        <div class="row mx-3 justify-content-md-center">

            <form action='login' method='POST' class="col-md-auto">                
                <div class="row justify-content-md-center mt-3">
                    <input type='text' name='username' id='username' placeholder="nom d'utilisateur" required/>
                    <div id="emailHelp" class="form-text">On ne partagera vos données avec personne.</div>

                </div>
                <div class="row justify-content-md-center mt-3">
                    <input type='password' name='password' id='password' placeholder='mot de passe' required/>
                </div>
                <div class="row justify-content-md-center">
                    <button type='submit'  class="text-center mt-4 btn btn-success" name='submit'>Connection</button>
                </div>

            </form>

        </div>

        <div class="row mx-3 justify-content-md-center mt-5">

            <form action='register' method='POST' class="col-md-auto">

                <div class="row justify-content-md-center mt-3">
                    <input type='text' name='username' id='username' placeholder="nom d'utilisateur" required/>
                    <div id="emailHelp" class="form-text">On ne partagera vos données avec personne.</div>

                </div>
                <div class="row justify-content-md-center mt-3">
                    <input type='password' name='password' id='password' placeholder='mot de passe' required/>
                </div>


                <div class="row justify-content-md-center">

                    <div class="dropdown btn-group mt-3">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Selectionnez votre statut
                    </button>
                    <ul class="dropdown-menu justify-content-center radio-group" aria-labelledby="dropdownMenuButton1" style="width: 480px;">
                        <li><input name="type" type="radio" class="form-check-input" value="entreprise" id="c_entreprise" required>
                            <label class="form-check-label" for="c_entreprise">Entreprise</label>
                        </li>
                        
                        <li><input name="type" type="radio" class="form-check-input" value="institution publique" id="c_publique" resquired>
                            <label class="form-check-label" for="c_publique">Institution Publique</label>
                        </li>

                        <li><input name="type" type="radio" class="form-check-input" value="utilisateur" id="c_user" required>
                            <label class="form-check-label" for="c_user">Utilisateur normal</label>
                        </li>
                    </ul>
                    </div>

                </div>
                

                <div class="row justify-content-md-center mt-1">
                    <button type='submit'  class="text-center mt-4 btn btn-primary" name='submit'>S'inscrire</button>
                </div>

            </form>

        </div>
    </div>

    <style>

        .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-outline-primary {
            background-color: blueviolet !important;
            border-color: blueviolet;
        }
    </style>
</body>
