<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="manifest" href="/manifest.json">
    <script type="module" src="/pwa/pwabuilder-sw-register.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JeParticipe</title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1211866699994753"
     crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <meta name="title" content="JeParticipe">
    <meta name="description" content="Demandez l'opinion des gens facilement !">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="javascript:window.location.href">
    <meta property="og:title" content="JeParticipe">
    <meta property="og:description" content="Demandez l'opinion des gens facilement !">
    <meta property="og:image" content="https://jeparticipe.tk:8000/logo/facebook_cover_photo_2.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="javascript:window.location.href">
    <meta property="twitter:title" content="JeParticipe">
    <meta property="twitter:description" content="Demandez l'opinion des gens facilement !">
    <meta property="twitter:image" content="https://jeparticipe.tk:8000/logo/facebook_cover_photo_2.png">




    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script type="text/javascript">

  function googleTranslateElementInit() {
    var te = new google.translate.TranslateElement({pageLanguage: "fr",
    layout: google.translate.TranslateElement.InlineLayout.VERTICAL,
    autoDisplay: true
  }, 'google_translate_element');



  function triggerHtmlEvent(element, eventName) {
    var event;
    if(document.createEvent) {
        event = document.createEvent('HTMLEvents');
        event.initEvent(eventName, true, true);
        element.dispatchEvent(event);
    } else {
        event = document.createEventObject();
        event.eventType = eventName;
        element.fireEvent('on' + event.eventType, event);
    } 
  
  }




  function change_lg(){  
    var ele = document.getElementsByClassName("goog-te-combo")[0];
    ele.value = navigator.language;
    triggerHtmlEvent(ele, 'change');


  }

    setTimeout(change_lg,1000)
  }

</script>

</head>
<body>



    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div id="google_translate_element" hidden></div>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="/">JeParticipe</a>
            <button class="btn btn-primary" onclick="window.location.href='/a-propos'">Utilisation et infos</button>
          </div>
        </div>
      </nav>


    <div id="conteneur_chronologique" class="mt-4 container", style="border: 1px;">

        <div id="loading_overlay" class="">
            <div class="spinner-border" role="status"></div>
        </div>

        <div id="forms">
            <div class="row mx-3 justify-content-md-center">

                <form action='login' method='POST'  id="login" class="col-md-auto">                
                    <div class="row justify-content-md-center mt-3">
                        <input type='text' name='username' id='username' placeholder="Nom d'utilisateur" required/>
                        <div id="emailHelp" class="form-text">Vos données ne seront pas partagées</div>
    
                    </div>
                    <div class="row justify-content-md-center mt-3">
                        <input type='password' name='password' id='password' placeholder='Mot de passe' required/>
                    </div>
                    <div class="row justify-content-md-center">
                        <button type='submit'  class="text-center mt-4 btn btn-success" name='submit' id="connect_button">Connection</button>
                    </div>
    
    
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    
    
                </form>
    
            </div>

            <div class="row mx-3 justify-content-md-center mt-5">
                <button class="btn btn-danger" onclick="window.location.href='/google_login'" style="max-width: 350px;" hidden><i class="bi bi-google me-3"></i>Connection avec <b translate="no">Google</b></button>
                <button class="btn btn-primary" onclick="window.location.href='/discord_login'" style="max-width: 350px;"><i class="bi bi-discord me-3"></i>Connection avec  <b translate="no"> Discord</b></button>

            </div>



            <div class="row mx-3 justify-content-md-center mt-5">
    
                <form action='register' method='POST' id="register" class="col-md-auto" oninput="password2.setCustomValidity(register_password2.value != register_password.value ? 'Les mots de passes ne sont pas les mêmes :/' : '')">
    
                    <div class="row justify-content-md-center mt-3">
                        <input type='text' name='username' id='register_username' placeholder="Nom d'utilisateur" required/>
                        <div id="unameHelp" class="form-text">Vos données ne seront pas partagées.</div>
    
                    </div>
    
                    <div class="row justify-content-md-center mt-3">
                        <input type='email' name='email' id='register_email' class="email" placeholder='Adresse email' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
                        <div id="emailHelp" class="form-text">Uniquement utilisée pour vous contacter si vous participez à un tirage au sort.</div>
                    </div>
    
                    <div class="row justify-content-md-center mt-3">
                        <input type='password' name='password' id='register_password' placeholder='Mot de passe' required/>
                    </div>
                    <div class="row justify-content-md-center mt-3">
                        <input type='password' name='password2' id='register_password2' placeholder='Confirmation du mot de passe' required/>
                    </div>
    
    
    
                    <div class="row justify-content-md-center mt-3">
    
                        <select name="type" class="form-control-primary form-control-sm" required>
                            <option>Utilisateur</option>
                            <option>Entreprise</option>
                            <option>Institution publique</option>
                            
                        </select>
                    
                    </div>
    
                    <div class="row justify-content-md-center mt-3">
                    
    
                        <select name="genre" class="form-control-primary form-control-sm" required>
                            <option>Homme</option>
                            <option>Femme</option>
                            <option>Non genre</option>
                            <option>Genre fluide</option>
                            <option>Autre</option>
                            <option>Personne morale</option>
                        </select>
                    
                    </div>
    
                    <div class="row justify-content-md-center mt-1">
                        <button type='submit'  class="text-center mt-4 btn btn-primary" name='submit'>S'inscrire</button>
                    </div>
    
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    
                </form>
    
            </div>
    
        </div>
        
    </div>

    <style>

        .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-outline-primary {
            background-color: blueviolet !important;
            border-color: blueviolet;
        }

        .spinner-border {
            width: 100px; 
            height: 100px;
        }
        .goog-te-banner-frame.skiptranslate {
            display: none !important;
            } 
          body {
            top: 0px !important; 
            }
    </style>

    <script>

        document.getElementById("loading_overlay").hidden = true;
        


        document.getElementById("login").addEventListener("submit",function(e){
            document.getElementById("forms").setAttribute("hidden","true");
            

            var loading_overlay = document.getElementById("loading_overlay");
            loading_overlay.setAttribute("class","d-flex justify-content-center mt-5");
            loading_overlay.hidden = false;
        },false);
    </script>
</body>
