<!-- Primary Meta Tags -->
<title>JeParticipe</title>
<meta name="title" content="JeParticipe">
<meta name="description" content="Demandez l'opinion des gens facilement !">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="javascript:window.location.href">
<meta property="og:title" content="JeParticipe">
<meta property="og:description" content="Demandez l'opinion des gens facilement !">
<meta property="og:image" content="https://jeparticipe.tk:8000/logo/facebook_cover_photo_2.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="javascript:window.location.href">
<meta property="twitter:title" content="JeParticipe">
<meta property="twitter:description" content="Demandez l'opinion des gens facilement !">
<meta property="twitter:image" content="https://jeparticipe.tk:8000/logo/facebook_cover_photo_2.png">
