
<!DOCTYPE html>
<html lang="fr">
  {% extends "blueprint.html"%}

  
  <body>
  
    {%block navbar_nologin%}
    {%endblock%}

    {% block chronologie%}

    <div id="conteneur_chronologique" class="d-flex justify-content-center mt-4", style="border: 1px;">


    {%if sondages == []%}
      <div class="mt-4">
          <h2 class="mt-4 text-center text-break">Vous n'avez rien posté pour l'instant ! Allez créer un sondage en cliquant sur "publier" dans le menu déroulant "Mon compte" en haut ;)</h2>
      </div>  
    {%endif%}

      <div class="card-columns">
        
        {%for post in sondages%}

        <div name="post" class="card mt-4 mx-3" style="width: auto; min-width: {%if user_agent == "JeParticipe-app"%}300px;{%else%}350px;{%endif%}">
          <div class="card-header">
            <a class="bi bi-share-fill mx-2" style="color:black;" href="javascript:partage_sondage('{{post.author_id}}',{{post.id}});"></a>
            <a class="bi bi-gear-fill mx-2" style="color: black;" href="/parametres_publication?owner_id={{post.author_id}}&post_id={{post.id}}"></a>
            <button class="btn btn-blue mx-2 btn-sm float-end" onclick="window.location.href='/stats?post_id={{post.id}}'" style="width:fit-content">Stats</button>
            
        </div>

          <div class="row mx-3 mb-3 justify-content-md-center">

            <div clas="card-body">

              <p class="text-break text-center mt-2">{{post.header}}</p>

              <hr>
              <ul class="list-group list-group-flush">

                
                  {%if post.type=="tirage"%}
                  <a class="btn btn-primary mt-2" style="width:100%;">Vous avez déjà partitipé à ce tirage au sort !</a>

                {%else%}
                {%for choix in post.choix%}
                    <a class="btn btn-primary mt-2" style="width:100%;">{{choix}} : {{post.resultats[choix]}}% des votes.</a>
                {%endfor%}                
                {%endif%}

              </ul>
            </div>
          </div>
        </div> 
        {%endfor%}
      </div>
              


      </div>


    </div>

    {%endblock%}
    
</body>


</html>