<!DOCTYPE html>
<html lang="fr">

{%extends "blueprint.html"%}
<body>

  {%block navbar_nologin%}
  {%endblock%}

  {%block chronologie%}
  <div id="conteneur_chronologique" class="d-flex justify-content-center mt-4", style="border: 1px;">

    <div class="row mx-3 justify-content-md-center">
      <form action="parametres_publication" class="col-md-auto" method="POST" style="width: auto;  min-width: 350px;">

        <div class="row justify-content-md-center mt-3">
            <textarea name="post_header" id="post_header" type="text" class="form-control textarea-autosize" placeholder="Description/Titre de votre publicartion" required>{{post.header}}</textarea>
            <label for="post_header">La description sera tronquée au delà de 1500 charactères.</label>
            <input name="post_id" type="hidden" value="{{post.id}}"/>
          <input name="owner_id" type="hidden" value="{{post.author_id}}"/>
        </div>
        <div class="row justify-content-md-center mt-3">
          <input name="choix" type="text" placeholder={%if post.type == "tirage"%}"Texte du bouton participer au tirage au sort"{%else%}"choix1/choix2/choix3...."{%endif%} value="{%if post.type == "tirage"%}{{post.choix[0]}}{%else%}{%for choix in post.choix%}{{choix}}/{%endfor%}{%endif%}" required/>
          <ul name="choix_ids" hidden>

            {%for c_id in post.choix_ids%}
            <li><input type="hidden" name="choix_ids" value="{{c_id}}"/></li>
            {%endfor%}

          </ul>
        </div>
        
        <div class="form-group form-check mt-3">
          <input name="anon_votes" type="checkbox" class="form-check-input" id="anon_votes_input" {%if post.anon_votes%}checked{%endif%}/>
          <label class="form-check-label" for="anon_votes_input">Autoriser les votes anonymes (via le lien de partage)</label>
        </div>
        
        
        <div class="form-group form-check mt-3">
          <input name="archive" type="checkbox" class="form-check-input" id="archive_input" {%if post.archive%}checked{%endif%}/>
          <label class="form-check-label" for="archive_input">Archiver la publication (reste disponible uniquement pour vous)</label>
        </div>
        
        <div class="row justify-content-md-center mt-3">
          <button type="submit" class="btn btn-primary">Mettre à jour la publication</button>
        </div>

        <input name="publication_type" value="{{post.type}}" hidden>
  

        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

      </form>

      <div class="row justify-content-md-center mt-3">
        <form action="/supprimer_publication" class="col-md-auto mt-2" method="POST">
          <div class="col"><input name="post_id" value="{{post.id}}" hidden></div>
          <div class="col"><input name="post_author" value="{{post.author}}"  hidden></div>
          <div class="col"><button type="submit" class="btn btn-danger" style="width: auto;">Supprimer la publication</button></div>
        
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        
        </form>
      </div>

    </div>

  </div>

  {%endblock%}
    
</body>


{%block scripts%}
<script>


  const tx = document.getElementsByTagName("textarea");
  for (let i = 0; i < tx.length; i++) {
    tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
    tx[i].addEventListener("input", OnInput, false);
  }

  function OnInput() {
    this.style.height = "auto";
    this.style.height = (this.scrollHeight) + "px";
  }

</script>

{%endblock%}


</html>