<!DOCTYPE html>
<html lang="fr">

{%extends "blueprint.html"%}

<body>


  {%block navbar_nologin%}
  {%endblock%}    
    
  {%block chronologie%}
  <div id="conteneur_chronologique" class="d-flex justify-content-center mt-4", style="border: 1px;">
      
    <div class="container mx-3">
      <form action="/edit_profil" method="POST">

        <div class="row">

          <div class="form-check mt-3">
            <input name="is_private" type="checkbox" class="form-check-input" id="is_private" {%if profil['is_private'] == 1%}checked{%endif%}/>
            <label class="form-check-label" for="is_private">Profil privé (Vous aurez à accepter/refuser les demandes d'abonnement)</label>
          </div>
        </div>

        <div class="row justify-content-md-center mt-3">
          <label for="email">Adresse email :</label>
          <input type='email' name='email' id='email' class="email" value="{{profil['email']}}" placeholder='Adresse email' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>
          <div id="emailHelp" class="form-text">Uniquement utilisée pour vous contacter si vous participez à un tirage au sort.</div>
        </div>
        <div class="row justify-content-md-center mt-3">
          <label for="pp_url">Photo de profil :</label>
          <input type='url' name='pp_url' id='pp_url' class="url" value="{{profil['pp_url']}}" placeholder='http://...image.jpg' pattern="https?:\/\/.*\.(jpg|jpeg|gif|png|tiff|bmp)(\?(.*))?" required/>
          <div id="pp_helper" class="form-text">Pour embellir votre profil ;)</div>
        </div>

        <div class="row justify-content-md-center mt-3">
          <label for="genre">Genre :</label>
    
          <select name="genre" id="genre" class="form-control-primary form-control-sm" translate="no" required>

            <option selected hidden>{{profil["gender"]}}</option>
            <option>Homme</option>
            <option>Femme</option>
            <option>Non genre</option>
            <option>Genre fluide</option>
            <option>Autre</option>
            <option>Personne morale</option>
          </select>
          <div id="gender_helper" class="form-text"> </div>
        </div>



        <div class="row">
          <div class="col my-3">
            <a href="/profil?user_id={{profil['user_id']}}" class="btn btn-primary float-end">Prévisualiser mon profil</a>
          </div>
            <h4 id="edit_desc_title">Editez la description de votre profil !</h4>
            <label for="edit_desc_title">Langage MARKDOWN et balises HTML basiques supportées</label>
        </div>

        <div class="row mt-3">
          <textarea name="profile_desc" class="form-control textarea-autosize">{{ md }}</textarea>
        </div>


        <div class="row justify-content-md-center mt-3">

          <button class="btn btn-warning mt-3" style="pointer-events: none;"><i class="bi bi-radioactive me-3"></i>ZONE DANGEREUSE</button>
          <label for="password" class="mt-4">Changer son mot de passe :</label>
          <input type='password' name='password' id='password' class="password" placeholder="Entrez votre futur mot de passe ici."/>
          <div id="pw_helper" class="form-text">Faite une phrase ponctuée et intégrez y des chiffres, + simple à retenir et sécurisé ;)</div>
        </div>


        <div class="row mt-5">
          <div class="text-center">
            <input type="submit" class="btn-lg btn-success ms-4 h-20" value="Mettre à jour le profil">
          </div>
        </div>


        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>


      </form>




      <div class="row mt-5 text-center">
        <button class="btn btn-danger mt-4" style="pointer-events: none;"><i class="bi bi-radioactive me-3"></i>ZONE ENCORE PLUS DANGEREUSE</button>

        <form onSubmit="submit_form({},'action/delete_account');return false">
          <button class="btn btn-danger mt-4" type="submit">SUPPRIMER MON COMPTE</button>

        </form>
      </div>
    </div>

  </div>

  {%endblock%}
    
</body>


{%block scripts%}
<script>

    function partage_sondage(owner_id,post_id){

      navigator.clipboard.writeText(window.location.hostname+"/partage?owner_id="+owner_id+"&post_id="+post_id+"&results=False");

      alert("L'url de partage du sondage a été copiée dans votre presse papier ;)");
    }

    const isImgLink = (url) => {
      if (typeof url !== 'string') {
        return false;
      }
      return (url.match(/^http[^\?]*.(jpg|jpeg|gif|png|tiff|bmp)(\?(.*))?$/gmi) !== null);
    }


    function submit_form(dict,url){

      var csrf_token = "{{ csrf_token() }}";


      var xhr = new XMLHttpRequest();
      xhr.open("POST", url, true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.setRequestHeader("X-CSRFToken", csrf_token);

      xhr.send(JSON.stringify(dict));
      
      setTimeout(function() {alert("Votre compte et toutes ses données ont bien été supprimées");window.location.href = "/login" },100);
    }

    const tx = document.getElementsByTagName("textarea");
    for (let i = 0; i < tx.length; i++) {
      tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
      tx[i].addEventListener("input", OnInput, false);
    }

    function OnInput() {
      this.style.height = "auto";
      this.style.height = (this.scrollHeight) + "px";
    }
</script>
{%endblock%}


</html>