
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JeParticipe</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

    <meta name="title" content="JeParticipe">
    <meta name="description" content="Demandez l'opinion des gens facilement !">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="javascript:window.location.href">
    <meta property="og:title" content="JeParticipe">
    <meta property="og:description" content="Demandez l'opinion des gens facilement !">
    <meta property="og:image" content="https://jeparticipe.tk:8000/logo/facebook_cover_photo_2.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="javascript:window.location.href">
    <meta property="twitter:title" content="JeParticipe">
    <meta property="twitter:description" content="Demandez l'opinion des gens facilement !">
    <meta property="twitter:image" content="https://jeparticipe.tk:8000/logo/facebook_cover_photo_2.png">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1211866699994753"
     crossorigin="anonymous"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand mb-2" href="/home">JeParticipe</a>
      {%if username=="[anonymous]"%}
      <button class="btn btn-primary me-2 mb-2 mt-2" onclick="window.location.href='/login'">S'inscrire/Se connecter</button>
      {%else%}
      <ul class="navbar-nav me-2">
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle btn btn-primary" style="color: white;" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mon compte
          </a>
          
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="/home">Accueil</a></li>
            <li><a class="dropdown-item" href="/creer_publication">Publier</a></li>
            <li><a class="dropdown-item" href="/mes_publications">Mes publications</a></li>
            <li><a class="dropdown-item" href="/edit_profil">Editer mon profil</a></li>
            <li><a class="dropdown-item" href="/mes_abonnes">Gérer mes abonnés</a></li>
            <li><a class="dropdown-item" href="/mes_abonnements">Gérer mes abonnements</a></li>
            <li><a class="dropdown-item" href="/mes_demandes_dabonnement">Gérer les demandes d'abonnement</a></li>
            <li><a class="dropdown-item" href="/logout">Déconnection ( {{username}} )</a></li>
          </ul>

        </li>
        

      </ul>
      {%endif%}
      <button class="btn btn-primary" onclick="window.location.href='/a-propos'">Utilisation et infos</button>

    </div>
  </div>
</nav>

    <div id="conteneur_chronologique" class="d-flex justify-content-center mt-4", style="border: 1px;">

      <div class="card-columns">

        <div name="post" class="card mt-4 mx-3" style="width: auto;  min-width: 350px;">
            <h6 class="card-title d-flex justify-content-left" style="height: 3px;">
                <a class="bi bi-share-fill mx-2" style="color:black;" href="javascript:partage_sondage({{post.author_id}},{{post.id}});"></a>
              Publié par {{post.author}}
            </h6>          
            <hr>


            <div class="row mx-3 mb-3 justify-content-md-center">

          <div clas="card-body">

            <p class="text-break text-center">{{post.header}}</p>

            <hr>
            <ul class="list-group list-group-flush">
              {%if post.vote%}
                {%if post.type == "tirage"%}
                  <a class="btn btn-primary mt-2" style="width:100%;" id="btn">Participation enregistrée !</a>
                  <label for="btn">Seule la première participation est vraiment enregistrée.</label>

                {%else%}
                  {%for choix in post.choix%}

                    <a class="btn btn-primary mt-2" style="width:100%;">{{choix}} : {{post.resultats[choix]}}% des votes.</a>
                  {%endfor%}

                {%endif%}
              {%elif post.anon_votes%}
                  {%for choix in post.choix%}

                  <form onSubmit="submit_form({author_id:{{post.author_id}},post_id:{{post.id}} ,choix:'{{choix}}'},'/partage');return false">
                    <button class="btn btn-primary mt-2" style="width:100%;" type="submit">{{choix}}</button>
                  </form>
                  {%endfor%}
              {%else%}
                {%for choix in post.choix%}
                  <button class="btn btn-primary mt-2" style="width: 100%;" onclick="alert('L\'auteur de cette publication a interdit le vote d\'utilisateurs non enregistrés ;)')">{{choix}}</button>
                {%endfor%}
              {%endif%}
              </ul>
            </div>
          </div>
      </div>
              


      </div>


    </div>
    
</body>

<script>

  function partage_sondage(owner_id,post_id){

    try{
        navigator.permissions.query({name: "clipboard-write"}).then(result => {
            if (result.state == "granted" || result.state == "prompt") {
              navigator.clipboard.writeText(window.location.hostname+":8000"+"/partage?owner_id="+owner_id+"&post_id="+post_id+"&results=False");
            }
        });

    }catch(error){

    }

    try{
      Android.share_post(window.location.hostname+":8000"+"/partage?owner_id="+owner_id+"&post_id="+post_id+"&results=False"); 
    }catch(error){
      console.log("On navigator, skipping Android api part.")
    }

    alert("L'url de partage de la publication a été copiée dans votre presse papier ;)");
  }

  function submit_form(dict,url){

    
    {%if post.type == "tirage"%}
      let email = null;
      while(email == null){
        email = prompt("Entrez votre adresse email ici, elle sera uniquement utilisée pour vous contacter si vous gangez ;)");
      
        const validateEmail = (email) => {
          return String(email)
            .toLowerCase()
            .match(
              /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            );
        };
        if(!validateEmail(email)){
          alert("Adresse email invalide :/")
          email = null
        }
      }
      dict["email"] = email;
    {%endif%}

    var csrf_token = "{{ csrf_token() }}";

    var xhr = new XMLHttpRequest();
    xhr.open("POST", url, true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.setRequestHeader("X-CSRFToken", csrf_token);
    xhr.send(JSON.stringify(dict));
    
    setTimeout(function() {document.location.href = document.location.href.replace("False","True");},100);
    
  }

</script>

<style>

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-outline-primary {
    background-color: blueviolet !important;
    border-color: blueviolet;
}
</style>


</html>