
<!DOCTYPE html>
<html lang="fr">

{%extends "blueprint.html"%}

<body>
{%if username=="[anonymous]"%}
  {%block navbar%}
  {%endblock%}
{%else%}

  {%block navbar_nologin%}
  {%endblock%}
     
{%endif%}


    <div id="conteneur_chronologique" class="d-flex justify-content-center mt-4", style="border: 1px;">

      <div class="card-columns">

        <div name="post" class="card mt-4 mx-3" style="width: auto;  min-width: 350px;">
            <h6 class="card-title d-flex justify-content-left" style="height: 3px;">
                <a class="bi bi-share-fill mx-2" style="color:black;" href="javascript:partage_sondage({{post.author_id}},{{post.id}});"></a>
              Publié par {{post.author}}
            </h6>          
            <hr>


            <div class="row mx-3 mb-3 justify-content-md-center">

          <div clas="card-body">

            <p class="text-break text-center">{{post.header}}</p>

            <hr>
            <ul class="list-group list-group-flush">
              {%if post.vote%}
                {%if post.type == "tirage"%}
                  <a class="btn btn-primary mt-2" style="width:100%;" id="btn">Participation enregistrée !</a>
                  <label for="btn">Seule la première participation est vraiment enregistrée.</label>

                {%elif post.type == "sondage"%}
                  {%for choix in post.choix%}

                    <a class="btn btn-primary mt-2" style="width:100%;">{{choix}} : {{post.resultats[choix]}}% des votes.</a>
                  {%endfor%}

                {%elif post.type == "suggestions"%}

                  <input type="text" class="form-control" value="Vous avez déjà suggéré votre opinion :D" disabled/>

                {%endif%}
              {%elif post.anon_votes%}

                  {%if post.type == "suggestions"%}
                  <input type="text" class="form-control" id="suggestions_input" placeholder="écrivez ici votre réponse :D" required/>

                  <form onsubmit="submit_form({author_id:{{post.author_id}},post_id:{{post.id}},choix:'[SUGGESTIONS FLAG]'},'/partage');return false">
                    <button class="btn btn-primary mt-2" style="width:100%;" type="submit" >Répondre</button>
                  </form>
                  {%else%}


                  {%for choix in post.choix%}

                  <form onSubmit="submit_form({author_id:{{post.author_id}},post_id:{{post.id}} ,choix:'{{choix}}'},'/partage');return false">
                    <button class="btn btn-primary mt-2" style="width:100%;" type="submit">{{choix}}</button>
                  </form>
                  {%endfor%}

                  {%endif%}
              {%else%}
                {%for choix in post.choix%}
                  <button class="btn btn-primary mt-2" style="width: 100%;" onclick="alert('L\'auteur de cette publication a interdit le vote d\'utilisateurs non enregistrés ;)')">{{choix}}</button>
                {%endfor%}
              {%endif%}
              </ul>
            </div>
          </div>
      </div>
              


      </div>


    </div>
    
</body>


{%block scripts%}
<script>


  function submit_form(dict,url){

    
    {%if post.type in ["tirage","suggestions"]%}
      let email = null;
      while(email == null){
        email = prompt("Entrez votre adresse email ici, elle sera uniquement utilisée pour vous contacter si vous gangez ;)");
      
        const validateEmail = (email) => {
          return String(email)
            .toLowerCase()
            .match(
              /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            );
        };
        if(!validateEmail(email)){
          alert("Adresse email invalide :/")
          email = null
        }
      }
      dict["email"] = email;
    {%endif%}

    if(dict["choix"].localeCompare('[SUGGESTIONS FLAG]') == 1){
      dict["choix"] = document.getElementById("suggestions_input").value;
    }

    var csrf_token = "{{ csrf_token() }}";

    var xhr = new XMLHttpRequest();
    xhr.open("POST", url, true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.setRequestHeader("X-CSRFToken", csrf_token);
    xhr.send(JSON.stringify(dict));
    
    setTimeout(function() {document.location.href = document.location.href.replace("False","True");},100);
    
  }

</script>

{%endblock%}

</html>