<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <!-- Primary Meta Tags -->
    <title>JeParticipe</title>
    <meta name="title" content="JeParticipe">
    <meta name="description" content="Demandez l'opinion des gens facilement !">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="javascript:window.location.href">
    <meta property="og:title" content="JeParticipe">
    <meta property="og:description" content="Demandez l'opinion des gens facilement !">
    <meta property="og:image" content="https://jeparticipe.tk:8000/logo/facebook_cover_photo_2.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="javascript:window.location.href">
    <meta property="twitter:title" content="JeParticipe">
    <meta property="twitter:description" content="Demandez l'opinion des gens facilement !">
    <meta property="twitter:image" content="https://jeparticipe.tk:8000/logo/facebook_cover_photo_2.png">

</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      
            <a class="navbar-brand mb-2" href="/home">JeParticipe</a>
            
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle btn btn-primary" style="color: white;" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Mon compte
                </a>
                
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="/home">Accueil</a></li>
                  <li><a class="dropdown-item" href="/creer_publication">Publier</a></li>
                  <li><a class="dropdown-item" href="/mes_publications">Mes publications</a></li>
                  <li><a class="dropdown-item" href="/edit_profil">Editer mon profil</a></li>
                  <li><a class="dropdown-item" href="/mes_abonnes">Gérer mes abonnés</a></li>
                  <li><a class="dropdown-item" href="/mes_abonnements">Gérer mes abonnements</a></li>
                  <li><a class="dropdown-item" href="/mes_demandes_dabonnement">Gérer les demandes d'abonnement</a></li>
                  <li><a class="dropdown-item" href="/logout">Déconnection ( {{username}} )</a></li>
                </ul>
      
              </li>
      
              
      
            </ul>
            <form class="d-flex" action="recherche" method="GET">
              <input class="form-control me-2 mb-2" type="search" placeholder="Rechercher" aria-label="Search" name="req">
              <button class="btn btn-outline-success mb-2" type="submit">Rechercher</button>
            </form>
          </div>
        </div>
      </nav>
    
    
        <div id="conteneur_chronologique" class="d-flex justify-content-center mt-4 container", style="border: 1px;">
        
          <div class="container" style="width: auto; min-width: 350px;">              
            
            <div class="row mx-3 mt-3">
                <input id="n_tirage" type="number" value="5" placeholder="nombre de participants tirés"/>
            </div>
            <div class="row mx-3 mt-3">

              <button class="btn btn-primary" id="random_choice_button" onclick="random_choice()">Selectionner des participants au hasard</button>
            
            </div>


            <div class="row mx-3 mt-5" id="conteneur_liste" >

            </div>
          </div>
        </div>


</body>

<script>
  let usernames = {{participants["usernames"] | safe}};
  let emails = {{participants["emails"] | safe}};

  function random_choice(){
    var n = document.getElementById("n_tirage").getAttribute("value");
    
    if(!!document.getElementById("RandList")){
      document.getElementById("RandList").remove();
    }
    var ul = document.createElement('ul');
    ul.setAttribute('id','RandList');
    ul.setAttribute("style","border: 1px;border-color:blueviolet;");
    document.getElementById('conteneur_liste').appendChild(ul);
    usernames.forEach(renderList);

    function renderList(element, index, arr) {
      var li = document.createElement('li');
      li.setAttribute('class','item');

      ul.appendChild(li);

      li.innerHTML=li.innerHTML + element +" ("+emails[index]+")";
    }

  }

</script>

<style>
    .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-outline-primary {
      background-color: blueviolet !important;
      border-color: blueviolet;
  }
</style>
  
</html>