<!DOCTYPE html>
<html lang="fr">

{%extends "blueprint.html"%}

<body>
    
    {%block navbar_nologin%}
    {%endblock%}


    <div id="conteneur_chronologique" class="d-flex justify-content-center mt-4 container", style="border: 1px;">
    
      <div class="container" style="width: auto; min-width: {%if user_agent == "JeParticipe-app"%}300px;{%else%}350px;{%endif%}">          
        
        <div class="row mx-3 mt-3">
            <input id="n_tirage" type="number" value="5" placeholder="nombre de participants tirés"/>
            <label for="n_tirage">Sur {{participants["usernames"]|length}} participants.</label>
        </div>
        <div class="mt-3 mx-3 text-center">

          <div class="social top center networks-5 ">
              <!-- Facebook Share Button -->
              <a class="btn share facebook" href="" hidden><i class="bi bi-facebook"></i></a> 
                                
              <!-- Twitter Share Button -->
              <a class="btn share twitter" id="twitter_share_btn" style="color: rgb(29,161,242);font-size:25px;" href=""><i class="bi bi-twitter"></i></a> 
              
              <!-- Pinterest Share Button -->
              <a class="btn share pinterest" id="pinterest_share_url"  href="http://pinterest.com/pin/create/button/?url=url&amp;description=data&amp;media=image" hidden><i class="bi bi-pinterest"></i></a>

              <!-- LinkedIn Share Button -->
              <a class="btn share linkedin" id="linkedin_share_url" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=url&amp;title=title&amp;source=url/" hidden><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="row mx-3 mt-3">

          <button class="btn btn-primary" id="random_choice_button" onclick="random_choice()">Selectionner des participants au hasard</button>
        
        </div>

        <div class="row mx-3 mt-3">

          <button class="btn btn-primary" id="reload_button" onclick="window.location.reload()">Re-faire la composition aléatoire</button>
        
        </div>


        <div class="row mx-3 mt-5" id="conteneur_liste" >

        </div>
      </div>
    </div>


</body>

<script>
  let usernames = {{participants["usernames"] | safe}};
  let emails = {{participants["emails"] | safe}};

  function random_choice(){
    var n = document.getElementById("n_tirage").value;

    if(n>usernames.length){
      n = usernames.length;
    }


    var b = document.getElementById("twitter_share_btn");
    b.setAttribute("href","https://twitter.com/intent/tweet?text=Voici%20les%20"+n+"%20gagnants%20du%20tirage%20au%20sort%20%21%20"+usernames.join()+"%20Bravo%20à%20eux%20%21%21&hashtags=jeparticipe");

    document.getElementById("conteneur_liste").innerHTML = "";


    var ul = document.createElement('ul');
    ul.setAttribute('id','RandList');
    ul.setAttribute("style","border: 1px;border-color:blueviolet;");
    document.getElementById('conteneur_liste').appendChild(ul);
    for(i=0;i<n;i++){
      var li = document.createElement('li');
      li.setAttribute('class','item');
      var a = document.createElement("a");
      a.setAttribute('href','mailto:'+emails[i]);
      a.innerText = usernames[i] +" ("+emails[i]+")";
      li.appendChild(a);
      ul.appendChild(li);
    }

    function renderList(element, index, arr) {
      
    }

  }

</script>


</html>